body{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(84, 84, 84);
}

a{
    text-decoration: none;
}
.admin{
    color: rgb(139, 139, 216);
    margin-bottom: 1.3rem;
    display: flex;
    background-color: #26496E;
    border: 0;
}
.admin1{
    margin-top: 0.4rem;
    margin-left: 0.4rem;
}
.cat{
    margin-right: 4rem;
}
.panel{
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 220, 220);
    border-radius: 10px;
    padding: 0.7rem;
    align-items: center;
    margin: 2.5rem;
}
.cert{
    font-size: 1.5rem;
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    color: rgb(66, 66, 169);
}

.cb{
    width: 100%;
    margin-top:0.6rem;
    border-width:0;
    border-radius: 5px;
    color: aliceblue;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    cursor: pointer;
}
.assign{
    border-width: 0px;
    margin-top: 0.9rem;
    padding: 0.7rem;
    border-radius: 5px;
    background-color: rgb(204, 203, 203);
    color: gray;
    padding-left: 3rem;
    padding-right: 3rem;
}

li{
    margin: 100px;
}

#menu{
    background-color: #26496E;
}

#tag{
    background-color: rgb(118, 184, 51);
}
#emp{
    color: rgb(48, 48, 190);
    border-color: rgb(48, 48, 190);
    border-width: 2px;
}
.num{
    color: rgb(41, 197, 82);
    margin-left: 2rem;
}
h3{
    margin: auto;
}

.panels{
    display: flex;
    flex-flow: wrap;
}

.top{
    display: flex;
    text-align: center;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
    margin-top: 0.6rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}


.container1{
    display: flex;
    height: 100%;
}

.pure-menu-link{
    width:auto;
    background-color: #26496E;
    margin-top: 2rem;
    color: aliceblue;
    padding-top:0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.2rem;
    text-decoration: none;
    padding-left: 2rem;
}
.pure-menu-link:hover{
    appearance: button;
    border-radius: 8px;
    background-color: white;
    color: #26496E;
    cursor: pointer;
}

.pure-menu-link:active{
    appearance: button;
    border-radius: 8px;
    background-color: white;
    color: #26496E;
    cursor: pointer;
}

.main{
    display: flex;
    height: 100%;
    margin-left: 7rem;
    padding: 0.7rem;
    flex-direction: column;
}
.manage{
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
}
.search{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex
}

.bar{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width:210%;
    border-radius: 5px;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
}

.lefts{
    padding-right: 32rem;
    color: blueviolet;
}

.left{
    padding-right: 50rem;
}

.bright{
    background-color: blueviolet;
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border-width: 0;
}

.profile{
    display: flex;
    margin-top: 3rem;
}

.pages{
    display: flex;
    justify-content: flex-end;
}

.pn{
    margin: 0.3rem;
    border-width: 0;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(52, 52, 178);
    padding: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    color: aliceblue;
}

.pn:active{
    border-width: 2px;
    border-color: rgb(54, 54, 180);
    color: rgb(54, 54, 180);
    background-color: white;
}
.pn:hover{
    border-width: 2px;
    border-color: rgb(54, 54, 180);
    color: rgb(54, 54, 180);
    background-color: white;
}

.tags{
    margin-top: 3rem;
    display: flex;
    flex-flow: wrap;
}

.pill{
    border-radius:50px;
    background-color: rgb(216, 215, 215);
    color:rgb(84, 84, 84);
    padding: 0.8rem;
    width:auto;
    margin: 1rem;
    text-align: center;
    border-width: 0;
    text-decoration: none;
}

.profile2{
    flex-direction: column;
    margin-left: 0.7rem;
}
.profimg{
    margin-left: 0.1rem;
}
.profile1{
    margin-left: 0.1rem;
}

.panels{
    display: flex;
    flex-flow: wrap;
}

@media (max-width:480px){
    body{
        width: 100%;
    }
}